<html>
  <head>
  </head>
  <style>

    .title-color { color: blue; }

  </style>
  <body>
    <h1 class='title-color'>Good day {{firstName}} {{lastName}}</h1>
    <p>
      To confirm registration please enter
      <a href='{{verificationLink}}' target='_blank'>here</a></p>
  </body>
</html>
