<html>
<head></head>
<body style = "font-family: Arial, sans-serif; font-size: 18px; line-height: 1.5;">
<div class="container">
    <h1 style = "color: #1DA5AB">Doctoo Account Confirmation</h1>
    <p>Hi {{firstName}} {{lastName}},</p>
    <p>We just need to verify your email address before you can access Doctoo.</p>
    <p>Verify your email address <a href="{{verificationLink}}" target="_blank">here</a>.</p>
    <p>Thanks! – The Doctoo team</p>
</div>
</body>
</html>